option:first-of-type {
  border-radius: var(--radius-default) var(--radius-default) 0 0;
}

option:last-of-type {
  border-radius: 0 0 var(--radius-default) var(--radius-default);
}

option:hover {
  background-color: var(--color-surface-secondary-default) !important;
  color: var(--color-text-secondary-default) !important;
  transition: 0.5s ease-out;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

::picker(select) {
  border: none;
}

select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  rotate: 0deg;
  transition: rotate 0.5s ease-in;
}

select:open::picker-icon {
  rotate: 180deg;
  transition: rotate 0.5s ease-in;
}

option::checkmark {
  display: none;
}

option:checked {
  font-weight: bold;
  background-color: var(--color-surface-primary-default);
  color: var(--color-text-primary-default);
}

::picker(select) {
  opacity: 0;
  transition: all 0.2s allow-discrete;
}
::picker(select):popover-open {
  opacity: 1;
  background-color: transparent;
}

@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
    background-color: transparent;
  }
}
