@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--color-primary);
  --color-primary-contrast: var(--color-primary-contrast);
  --color-secondary: var(--color-secondary);
  --color-secondary-contrast: var(--color-secondary-contrast);
  --color-tertiary: var(--color-tertiary);
  --color-tertiary-contrast: var(--color-tertiary-contrast);
  --color-background: var(--color-background);
  --color-background-contrast: var(--color-background-contrast);
  --color-text: var(--color-text);
  --color-text-contrast: var(--color-text-contrast);
  --color-border: var(--color-border);
  --color-border-contrast: var(--color-border-contrast);
  --color-error: var(--color-error);
  --color-error-contrast: var(--color-error-contrast);
  --color-success: var(--color-success);
  --color-success-contrast: var(--color-success-contrast);
  --color-warning: var(--color-warning);
  --color-warning-contrast: var(--color-warning-contrast);
  --color-info: var(--color-info);
  --color-info-contrast: var(--color-info-contrast);
  --color-paper: var(--color-paper);
  --color-paper-contrast: var(--color-paper-contrast);
  --radius-default: var(--radius-theme);
  --font-h1: var(--font-family-h1);
  --text-h1: var(--font-size-h1);
  --font-weight-wh1: var(--font-weight-h1);
  --font-h2: var(--font-family-h2);
  --text-h2: var(--font-size-h2);
  --font-weight-wh2: var(--font-weight-h2);
  --font-h3: var(--font-family-h3);
  --text-h3: var(--font-size-h3);
  --font-weight-wh3: var(--font-weight-h3);
  --font-h4: var(--font-family-h4);
  --text-h4: var(--font-size-h4);
  --font-weight-wh4: var(--font-weight-h4);
  --font-h5: var(--font-family-h5);
  --text-h5: var(--font-size-h5);
  --font-weight-wh5: var(--font-weight-h5);
  --font-h6: var(--font-family-h6);
  --text-h6: var(--font-size-h6);
  --font-weight-wh6: var(--font-weight-h6);
  --font-subtitle: var(--font-family-subtitle);
  --text-subtitle: var(--font-size-subtitle);
  --font-weight-wsubtitle: var(--font-weight-subtitle);
  --font-subtitle: var(--font-family-subtitle);
  --text-subtitle: var(--font-size-subtitle);
  --font-weight-wsubtitle: var(--font-weight-subtitle);
  --font-subtitle-secondary: var(--font-family-subtitle-secondary);
  --text-subtitle-secondary: var(--font-size-subtitle-secondary);
  --font-weight-wsubtitle-secondary: var(--font-weight-subtitle-secondary);
  --font-body: var(--font-family-body);
  --text-body: var(--font-size-body);
  --font-weight-wbody: var(--font-weight-body);
  --font-body-secondary: var(--font-family-body-secondary);
  --text-body-secondary: var(--font-size-body-secondary);
  --font-weight-wbody-secondary: var(--font-weight-body-secondary);
  --font-button: var(--font-family-button);
  --text-button: var(--font-size-button);
  --font-weight-wbutton: var(--font-weight-button);
  --font-caption: var(--font-family-caption);
  --text-caption: var(--font-size-caption);
  --font-weight-wcaption: var(--font-weight-caption);
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
}
